@font-face {
    font-family: 'icons';
    src: url('fonts/icons.eot?wwp0do');
    src: url('fonts/icons.eot?wwp0do#iefix') format('embedded-opentype'),
        url('fonts/icons.ttf?wwp0do') format('truetype'),
        url('fonts/icons.woff?wwp0do') format('woff'),
        url('fonts/icons.svg?wwp0do#icons') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icons' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Enable Ligatures ================ */
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    font-feature-settings: "liga";
    -webkit-font-variant-ligatures: discretionary-ligatures;
    font-variant-ligatures: discretionary-ligatures;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-Logo-1:before {
    content: "\e903";
    color: #afb1b8;
}

.icon-Logo:before {
    content: "\e907";
    color: #afb1b8;
}

.icon-astronaut-1 .path1:before {
    content: "\e90d";
    color: rgb(33, 150, 243);
}

.icon-astronaut-1 .path2:before {
    content: "\e90e";
    margin-left: -1em;
    color: rgb(33, 150, 243);
}

.icon-astronaut-1 .path3:before {
    content: "\e90f";
    margin-left: -1em;
    color: rgb(33, 150, 243);
}

.icon-astronaut-1 .path4:before {
    content: "\e910";
    margin-left: -1em;
    color: rgb(33, 150, 243);
}

.icon-astronaut-1 .path5:before {
    content: "\e911";
    margin-left: -1em;
    color: rgb(33, 150, 243);
}

.icon-astronaut-1 .path6:before {
    content: "\e912";
    margin-left: -1em;
    color: rgb(33, 150, 243);
}

.icon-astronaut-1 .path7:before {
    content: "\e913";
    margin-left: -1em;
    color: rgb(33, 150, 243);
}

.icon-astronaut-1 .path8:before {
    content: "\e914";
    margin-left: -1em;
    color: rgb(33, 150, 243);
}

.icon-astronaut-1 .path9:before {
    content: "\e915";
    margin-left: -1em;
    color: rgb(33, 150, 243);
}

.icon-astronaut-1 .path10:before {
    content: "\e916";
    margin-left: -1em;
    color: rgb(33, 150, 243);
}

.icon-astronaut-1 .path11:before {
    content: "\e917";
    margin-left: -1em;
    color: rgb(33, 150, 243);
}

.icon-astronaut-1 .path12:before {
    content: "\e918";
    margin-left: -1em;
    color: rgb(33, 150, 243);
}

.icon-astronaut-1 .path13:before {
    content: "\e919";
    margin-left: -1em;
    color: rgb(33, 150, 243);
}

.icon-astronaut-1 .path14:before {
    content: "\e91a";
    margin-left: -1em;
    color: rgb(33, 150, 243);
}

.icon-astronaut-1 .path15:before {
    content: "\e91b";
    margin-left: -1em;
    color: rgb(33, 150, 243);
}

.icon-astronaut-1 .path16:before {
    content: "\e91c";
    margin-left: -1em;
    color: rgb(33, 150, 243);
}

.icon-astronaut-1 .path17:before {
    content: "\e91d";
    margin-left: -1em;
    color: rgb(33, 150, 243);
}

.icon-astronaut-1 .path18:before {
    content: "\e91e";
    margin-left: -1em;
    color: rgb(33, 33, 33);
}

.icon-astronaut-1 .path19:before {
    content: "\e91f";
    margin-left: -1em;
    color: rgb(33, 33, 33);
}

.icon-astronaut-1 .path20:before {
    content: "\e920";
    margin-left: -1em;
    color: rgb(33, 33, 33);
}

.icon-astronaut-1 .path21:before {
    content: "\e921";
    margin-left: -1em;
    color: rgb(33, 33, 33);
}

.icon-diagram-1 .path1:before {
    content: "\e922";
    color: rgb(33, 150, 243);
}

.icon-diagram-1 .path2:before {
    content: "\e923";
    margin-left: -1em;
    color: rgb(33, 150, 243);
}

.icon-diagram-1 .path3:before {
    content: "\e924";
    margin-left: -1em;
    color: rgb(33, 150, 243);
}

.icon-diagram-1 .path4:before {
    content: "\e925";
    margin-left: -1em;
    color: rgb(33, 150, 243);
}

.icon-diagram-1 .path5:before {
    content: "\e926";
    margin-left: -1em;
    color: rgb(33, 33, 33);
}

.icon-clock-1 .path1:before {
    content: "\e927";
    color: rgb(33, 33, 33);
}

.icon-clock-1 .path2:before {
    content: "\e928";
    margin-left: -1em;
    color: rgb(33, 150, 243);
}

.icon-clock-1 .path3:before {
    content: "\e929";
    margin-left: -1em;
    color: rgb(33, 150, 243);
}

.icon-clock-1 .path4:before {
    content: "\e92a";
    margin-left: -1em;
    color: rgb(33, 150, 243);
}

.icon-Objectobject3:before {
    content: "\e908";
    color: #afb1b8;
}

.icon-Group .path1:before {
    content: "\e92b";
    color: rgb(33, 33, 33);
}

.icon-Group .path2:before {
    content: "\e92c";
    margin-left: -0.9423828125em;
    color: rgb(33, 150, 243);
}

.icon-groupgroup2:before {
    content: "\e901";
    color: #afb1b8;
}

.icon-groupgroup:before {
    content: "\e902";
    color: #AFB1B8;
}

.icon-Unionunion:before {
    content: "\e904";
    color: #afb1b8;
}

.icon-linkedin-1linkedit:before {
    content: "\e900";
    color: #afb1b8;
}

.icon-Vectorfacebook:before {
    content: "\e905";
    color: #afb1b8;
}

.icon-Vectortwittter:before {
    content: "\e906";
    color: #afb1b8;
}

.icon-instagram:before {
    content: "\ea92";
}

.icon-Vector:before {
    content: "\e90b";
    color: #757575;
    line-height: 1;
    font-size: 16px;
    margin-right: 10px;
}

.icon-envelope:before {
    content: "\e90c";
    color: #757575;
    line-height: 1;
    font-size: 16px;
    margin-right: 10px;
}